body {
  margin: 0 !important;
  padding: 0 !important;
  background: #005f73 !important;
}

.empty-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #0a9396;
  padding: 10%;
  text-align: center;
}

.add-alert {
  /* color: green;
  border: green; */
  color: rgb(255, 196, 0);
  border: rgb(255, 196, 0);
}
.mod-alert {
  color: rgb(255, 196, 0);
  border: rgb(255, 196, 0);
}
.del-alert {
  /* color: red;
  border: red; */
  color: rgb(255, 196, 0);
  border: rgb(255, 196, 0);
}

.succes-msg {
  /* background-color: #ffffff; */
  background-image: radial-gradient(
    circle 926px at 0.4% 2%,
    #177e89 30%,
    rgba(243, 170, 81, 1) 10.2%,
    #177e89 0.2%
  );
  transform: translateX(-20%);
  top: 20px;
  height: 5rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0px 0px 4px 0px;
}

.btn-color {
  background: #bfd200 !important;
}

.btn-color:hover {
  background: #80b918 !important;
}

.hide {
  display: none;
  transition: 0.2s linear;
}

.icon {
  width: 10%;
  /* filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(103%) contrast(103%); */
}

.prev-notes {
  display: flex;
  flex-direction: column-reverse;
}

.bg-top {
  background-image: radial-gradient(
    circle 926px at 0.4% 2%,
    rgba(243, 170, 81, 1) 100%,
    #177e89 10.2%,
    #177e89 0.2%
  );

  padding: 2rem;
}

.delete {
  background: #d00000;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  outline: 0;
  padding: 12px 14px;
}

.delete:hover,
.delete:active {
  color: #111111;
  background: #e01710;
}

.modify {
  background: #ee9b00;
  border: 0;
  color: #111111;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  outline: 0;
  padding: 12px 14px;
}

.modify:hover,
.modify:active {
  color: #ffffff;
  background: #f8ae24;
}

.prev-notes div {
  padding-top: 1.5rem;
}

.prev-notes div p {
  text-align: start !important;
  overflow: scroll !important;
  height: 5vh;
  /* font-size: 1.5rem !important; */
}

.prev-notes div h4 {
  text-align: start;
}

.added-note {
  text-align: center;
  margin: auto;
  background-color: #0a9396;
  color: white;
  padding: 2rem;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
}

.added-note button {
  margin-left: 1rem;
}

@media (min-width: 800px) {
  @keyframes successtransform {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-90%);
    }
  }
  .succes-msg {
    transform: translateX(-90%);
    /* left: 30%; */
    width: 30rem;
    margin-top: 1.3rem;
    animation: successtransform 1s 1;
  }

  .prev-notes div {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  .hide-small {
    display: flex !important;
    font-size: 16px !important;
  }

  .prev-notes div p {
    text-align: start;
    overflow: scroll;
    width: 30%;
    height: 15vh;
  }

  .added-note {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prev-notes div h4 {
    text-align: start;
    overflow: scroll;
    width: 30%;
  }

  .added-note button {
    gap: 30%;
  }
}
